<% var vehicleText, userRating %>
<% if (user.get('vehicle') === 'none') { %>
  <% vehicleText = "Does not travel" %>
<% } else { %>
  <% vehicleText = "Has a " + (user.get('vehicle')) %>
<% } %>

<% if (user.get('alive')) { %>
  <% userRating = TaskForce.Helpers.taskerRating(user) %>
<% } else { %>
  <% userRating = "Failed for the last time" %>
<% } %>

<% var submitButton = submitButton || false %>

<div id="tasker-detail taskforce-modal-window">
  <div class="container modal-noclose profile-modal profile-area">
    <% if (!user.isNew()) { %>
      <div class="close-profile-button modal-noclose">
        <button type="button" class="close-profile-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="thumbnail modal-noclose profile-border">
        <div class="profile-picture-container modal-noclose">
          <div class="profile-picture-container-top modal-noclose">
            <%= TaskForce.Helpers.taskerRating(user) %>
          </div>
          <div class="profile-picture-container-bottom modal-noclose">
            <%= user.get('num_completed') %> tasks completed
          </div>
        </div>
        <div class="profile-picture-container modal-noclose">
          <img src="<%= user.get('profile_url') %>" class="modal-noclose img-circle profile-picture" width ="200">
        </div>
        <div class="profile-picture-container modal-noclose">
          <div class="profile-picture-container-top modal-noclose">
            Works on <%= user.get('location') %>
          </div>
          <div class="profile-picture-container-bottom modal-noclose">
            <%= vehicleText %>
          </div>
        </div>
      </div>
      <h2 class="profile-name modal-noclose"><%= user.get('name') %></h2>
      <ul class="list-group">
        <li class="list-group-item modal-noclose"><%= TaskForce.Helpers.taskerRating(user) %>
        <%= user.get('num_completed') %> completed</li>
        <li class="list-group-item modal-noclose">Vehicle: <%= user.get('vehicle') %></li>
        <li class="list-group-item modal-noclose">Location: <%= user.get('location') %></li>
        <li class="list-group-item modal-noclose"><%= user.get('description') %></li>
        <% if (submitButton) { %>
          <%= TaskForce.Helpers.hireButton(user) %>
        <% } %>
      </ul>
      <% comments.forEach(function(comment) { %>

        <ul class="list-group modal-noclose">
          <li class="modal-noclose">Commenter: <%=comment.get('author_name') %></li>
          <li class="modal-noclose">Body: <%= comment.get('body') %></li>
        </ul>
      <% }) %>
    <% } %>
  </div>
</div>
