<% var vehicleText, userRating, displayStyling, spanEnd, divEnd %>
<% if (user.get('vehicle') === 'none') { %>
  <% vehicleText = "Does not travel" %>
<% } else { %>
  <% vehicleText = "Has a " + (user.get('vehicle')) %>
<% } %>

<% if (user.get('alive')) { %>
  <% userRating = TaskForce.Helpers.taskerRating(user) %>
<% } else { %>
  <% userRating = "Failed for the last time" %>
<% } %>

<% var submitButton = submitButton || false %>
<% if (submitButton) { %>
  <% displayStyling = "<div class='profile-body-area modal-noclose'>" %>
  <% displayStyling += "<span class='profile-body-description modal-noclose'>" %>
  <% spanEnd = "</span>" %>
  <% submitButtonText = TaskForce.Helpers.hireButton(user) + "</div>" %>
<% } else { %>
  <% displayStyling = "" %>
  <% spanEnd = "" %>
  <% submitButtonText = "" %>
<% } %>

<div id="tasker-detail taskforce-modal-window">
  <div class="container modal-noclose profile-modal profile-area">
    <% if (!user.isNew()) { %>
      <div class="row close-profile-button modal-noclose">
        <button type="button" class="close-profile-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="row thumbnail modal-noclose profile-border">
        <div class="profile-picture-container modal-noclose">
          <div class="profile-picture-container-top modal-noclose">
            <%= TaskForce.Helpers.taskerRating(user) %>
          </div>
          <div class="profile-picture-container-bottom modal-noclose">
            <%= user.get('num_completed') %> tasks completed
          </div>
        </div>
        <div class="profile-picture-container modal-noclose">
          <img src="<%= user.get('profile_url') %>" class="modal-noclose img-circle profile-picture" width ="200">
        </div>
        <div class="profile-picture-container modal-noclose">
          <div class="profile-picture-container-top modal-noclose">
            Works on <%= user.get('location') %>
          </div>
          <div class="profile-picture-container-bottom modal-noclose">
            <%= vehicleText %>
          </div>
        </div>
      </div>
      <h2 class="row profile-name modal-noclose"><%= user.get('name') %></h2>
      <div class="row description-area modal-noclose">
        <div class="col-md-12 modal-noclose">
          <span class="subheading modal-noclose">A BIT ABOUT ME</span><br>

          <%= displayStyling %>
          <%= user.get('description') %>
          <%= spanEnd %>
          <%= submitButtonText %>
        </div>
      </div>
      <% if (comments.length > 0) { %>
        <% comments.forEach(function(comment) { %>
          <div class="row modal-noclose comment-area">
            <div class="col-md-2 modal-noclose comment-profile-pic-area">
                <div class="img-wrapper modal-noclose">
                  <img class="modal-noclose img-responsive" src=<%= comment.get('commenter_profile_url') %>>
                </div>
            </div>
            <div class="col-md-9 modal-noclose">
              <h4 class="media-heading modal-noclose"><%=comment.get('author_name') %> says:</h4>
              <%= comment.get('body') %>
            </div>
          </div>
        <% }) %>
      <% } %>
    <% } %>
  </div>
</div>
