

<% var times, date, day, month, day_num, year, date_str, time %>
<% var taskerName, buttonText, buttonClass %>

<% var activities = { "moving": "Help moving", "military": "Defeat my enemies" } %>

<% times = ["any time", "morning", "afternoon", "evening"] %>

<% date = (new Date(model.get('date'))).toDateString().split(' ') %>
<% day = date[0] %>
<% month = date[1] %>
<% day_num = date[2] %>
<% year = date[3] %>
<% date_str = day + " " + month + " " + day_num + ", " + year %>
<% time = times[model.get('time')] %>
<% taskerName = (function () { %>
  <% if (model.get('tasker_name')) { %>
    <% return model.get('tasker_name') %>
  <% } else { %>
    <% return "No Tasker Assigned Yet" %>
  <% } %>
<% })() %>

<% if (!model.get('user_completed')) { %>
  <% buttonText = "Mark complete" %>
  <% buttonClass = "btn-std-color mark-complete" %>
<% } else if (model.get('rating') === 0) { %>
  <% buttonText = "Rate Tasker" %>
  <% buttonClass = "btn-alt-color rate-tasker" %>
<% } else { %>
  <% buttonText = "tasker rated" %>
  <% buttonClass = "tasker rated" %>
<% } %>

<% if (tasker.get('alive')) { %>
  <% var taskerDead = "" %>
<% } else { %>
 <% var taskerDead = "tasker-dead" %>
<% } %>

<div class="col-md-4 mini-task">
  <ul class="list-group mini-task-group">
    <li class="list-group-item"><%= activities[model.get('category')] %></li>
    <li class="list-group-item">Tasker: <span class="<%= taskerDead %>"><a href="javascript:void(0)" class="tasker-profile"><%= taskerName %></a></span></li>
    <li class="list-group-item date-time"><span class="text-left"><%=date_str %></span><span class="pull-right"><%= time %></span></li>
  </ul>
  <button type="button" class="btn btn-default <%= buttonClass %>"
    data-id="<%= model.get('id') %>"><%=buttonText%></button><br>
</div>
