

<% var times, date, day, month, day_num, year, date_str, time, activities %>
<% var taskerName, buttonText, buttonClass, offsetClass, tooltip %>
<% var preButtonText = "" %>

<% activities = { "moving": "Help moving", "military": "Defeat my enemies" } %>

<% times = ["any time", "morning", "afternoon", "evening"] %>

<% date = (new Date(model.get('date'))).toDateString().split(' ') %>
<% day = date[0] %>
<% month = date[1] %>
<% day_num = date[2] %>
<% year = date[3] %>
<% date_str = day + ", " + month + " " + day_num + ", " + year %>
<% time = times[model.get('time')] %>
<% if (time === 'any') { %>
  <% time = " at any time" %>
<% } else { %>
  <% time = " in the " + time + ""%>
<% } %>

<% taskerName = (function () { %>
  <% if (model.get('tasker_name')) { %>
    <% return model.get('tasker_name') %>
  <% } else { %>
    <% return "No Tasker Assigned Yet" %>
  <% } %>
<% })() %>

<% tooltip = "data-toggle='tooltip' data-delay='100' title='change rating' data-placement='left'" %>

<% if (!model.get('user_completed')) { %>
  <% buttonText = "Mark complete" %>
  <% buttonClass = "btn-default btn-std-color mark-complete mini-task-button" %>
<% } else if (model.get('rating') === 0) { %>
  <% buttonText = "Rate Tasker" %>
  <% buttonClass = "btn-default btn-std-color rate-tasker mini-task-button" %>
<% } else if (model.get('rating') > 0 ) { %>
  <% preButtonText = "Your rating: <span class='glyphicon glyphicon-thumbs-up'></span>" %>
  <% buttonText = "(change rating)" %>
  <% buttonClass = "tasker-rated" %>
<% } else { %>
  <% preButtonText = "Your rating: <span class='glyphicon glyphicon-thumbs-down'></span>" %>
  <% buttonText = "(<span class='underlined-text'>change rating</span>)" %>
  <% buttonClass = "tasker-rated " %>
<% } %>

<% if (tasker.get('alive')) { %>
  <% var taskerDead = "" %>
<% } else { %>
 <% var taskerDead = "tasker-dead" %>
<% } %>

<div class="col-md-4">
  <div class="column-padding">
    <div class="mini-task panel">
      <div class="panel-heading mini-task-panel-heading">
        <h3><%= activities[model.get('category')] %></h3>
      </div>
      <div class ="panel-body">
        <div class="row mini-task-item"><strong>Description: </strong><%= model.get('description') %></div>
        <div class="row mini-task-item"><strong>Tasker: </strong> <span class="<%= taskerDead %>"><a href="javascript:void(0)" class="tasker-profile"><%= taskerName %></a></span></div>
        <div class="row mini-task-item"><strong>System: </strong><%= model.get('location') %></div>
        <div class="row date-time mini-task-item"><%=date_str +", " + time %></div>
      </div>
      <div class="panel-footer mini-task-item">
        <%= preButtonText %><button type="button" class="btn <%= buttonClass %>"
          data-id="<%= model.get('id')%>"><%= buttonText %></button><br>
      </div>
    </div>
  </div>
</div>
