<% var vehicles = [["no vehicle", "No vehicle required"],
                   ["Starship", "Starship"],
                   ["Battle Station", "Battle Station"]] %>
<% var times = ["Any Time", "8AM - 12PM", "12PM - 4PM", "4PM - 8PM"] %>
<% var locations = ["Coruscant", "Endor", "Hoth", "Tatooine"] %>
<% var task_types = [["military", "Defeat My Enemies"], ["moving", "I need help moving"]] %>

<section class="new-task-form">
  <div class="col-md-8 col-md-offset-2">
    <h2>New Task</h2>
    <span class="subheading">Based on the details entered below, we'll show you relevant Taskers for you to choose from.</span>
    <form class="form-group" action="/tasks" method="post">
      <div class="form-field-title-section">TASK DETAILS</div>
      <h4 class="input-fields-title">Will the task require a vehicle?</h4>

      <% for (var i=0; i < vehicles.length; i++) { %>
        <div class="col-md-4" id="<= locations[i] %>">
          <input type="radio" name="vehicle"
               value="<%= vehicles[i][0] %>"
               style="display: none"
               id="<%= vehicles[i][0] %>" required>
          <label for="<%= vehicles[i][0] %>" class="form-images">
            <ul class="radio-image-list">
              <li class="text-center">
                <img src="<%= TaskForce.Helpers.profilePic[vehicles[i][0]] %>">
              </li>
              <li class="text-center"><%= vehicles[i][1] %></li>
              </ul>
          </label>
        </div>
      <% } %>

      <div class="form-field-title-section">WHAT TYPE OF TASK IS IT?</div>
      <div class="input-group" type="hidden">
        <% for (var i = 0; i < task_types.length; i++) { %>
          <label><input type="radio" name="category" value = "<%= task_types[i][0] %>" required><%= task_types[i][1] %></label><br>
        <% } %>
      </div>

      <div class="form-field-title-section">TELL US ABOUT YOUR TASK</div>
      <textarea class="form-control" name="description" placeholder="EXAMPLE: There's a restaurant on 3rd St. that I really want to try, but a group of Imperial Stormtroopers are blocking the path. Can you take them out for me?" rows="8" required></textarea>

      <div class="form-field-title-section">YOUR TASK DATE & TIME</div>
      <div class="input-group" type="hidden">
        <input type="date" name="task_date" required>
        <br>
        <% for (var i = 0; i < times.length; i++) { %>
          <label><input type="radio" name="time_slot" value = "<%= i %>" required><%= times[i] %></label><br>
        <% } %>
      </div>

      <div class="form-field-title-section">WHAT SYSTEM IS YOUR TASK IN?</div>
      <% for (var i=0; i < locations.length; i++) { %>
        <div class="col-md-6" id="<= locations[i] %>">
          <input type="radio" name="location"
               value="<%= locations[i] %>"
               style="display: none"
               id="<%= locations[i] %>" required>
          <label for="<%= locations[i] %>" class="form-images">
            <ul class="radio-image-list">
              <li class="text-center">
                <img src="<%= TaskForce.Helpers.profilePic[locations[i]] %>">
              </li>
              <li class="text-center"><%= locations[i] %></li>
              </ul>
          </label>
        </div>
      <% } %>
      <input type="submit" value="Submit Task" class="btn btn-primary btn-std-color btn-submit">
    </form>
  </div>
</section>
