<% var times = ["any time", "morning", "afternoon", "evening"] %>

<% var date = (new Date(model.get('date'))).toDateString().split(' ') %>
<% var day = date[0] %>
<% var month = date[1] %>
<% var day_num = date[2] %>
<% var year = date[3] %>
<% var date_str = month + " " + day + ", " + year %>
<% var time = times[model.get('time')] %>
<% var taskerName = (function () { %>
  <% if (model.get('tasker_name')) { %>
    <% return model.get('tasker_name') %>
  <% } else { %>
    <% return "No Tasker Assigned Yet" %>
  <% } %>
<% })() %>


<div class="col-md-4 mini-task">
  <ul class="list-group mini-task-group">
    <li class="list-group-item"><%= model.get('category') %></li>
    <li class="list-group-item">Tasker: <%= taskerName %></li>
    <li class="list-group-item date-time"><%=date_str %> <div class="right-justify"><%= time %></div></li>
  </ul>
  <button type="button" class="btn btn-default btn-std-color select-me"
    data-id="<%= model.get('id') %>">Mark complete</button><br>
</div>
