<% var taskforceRating %>

<% var submitButton = submitButton || false %>
  <div class="col-md-4 mini-profile">
    <div class="thumbnail">
      <img src="<%= model.get('profile_url')%>"  class="profile-img">
    </div>
    <ul class="list-group">
      <li class="list-group-item"><%= model.get('name') %></li>
      <li class="list-group-item"><%= TaskForce.Helpers.taskerRating(model) %>
      &nbsp;<%= model.get('num_completed') %> completed</li>
    </ul>
    <% if (submitButton) { %>
      <button type="button" class="btn btn-default btn-large btn-std-color select-me"
        data-id="<%= model.get('id') %>">Hire Me! $<%= model.get('price') %>/hr</button><br>
      <a href="javascript:void(0)" data-id="<%= model.get('id') %>" class="tasker-profile">See reviews & profile</a>
    <% } %>
  </div>
</div>
