<% var pick_me = pick_me || false %>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="<%= model.get('profile_url')%>"  class="profile-img">
    </div>
    <ul class="list-group">
      <li class="list-group-item"><%= model.get('name') %></li>
      <li class="list-group-item"><a href="javascript:void(0)"
        data-toggle="tooltip" data-placement="left"
        title="<= TaskForce.Api.guarantee %>"
        >100% Positive<%= model.get('num_completed') %> completed</li>
    </ul>
    <% if (pick_me) { %>
      <button type="button" class="btn btn-default btn-large btn-std-color select-me"
        data-id="<%= model.get('id') %>">Choose This Tasker</button><br>
      <a href="javascript:void(0)" data-id="<%= model.get('id') %>" class="tasker-profile">See reviews & profile</a>
    <% } %>
  </div>
</div>
