  <div class="col-md-4 col-md-offset-4">
    <div class="thumbnail">
      <img src="<%= user.get('profile_url') %>">
    </div>
    <ul class="list-group">
      <li class="list-group-item"><%= user.get('name') %></li>
      <li class="list-group-item">100% Positive <%= user.get('num_completed') %> completed</li>
      <li class="list-group-item">Vehicle: <%= user.get('vehicle') %></li>
      <li class="list-group-item">Location: <%= user.get('location') %></li>
      <li class="list-group-item"><%= user.get('description') %></li>
    </ul>
  </div>
</div>
