<div class="modal-noclose" id="tasker-detail">
  <div class="container-fluid modal-noclose">
    <% if (!user.isNew()) { %>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2><%= user.get('name') %></h2>
        <div class="thumbnail modal-noclose">
          <img src="<%= user.get('profile_url') %>" class="modal-noclose">
        </div>
        <ul class="list-group">
          <li class="list-group-item modal-noclose">100% Positive <%= user.get('num_completed') %> completed</li>
          <li class="list-group-item modal-noclose">Vehicle: <%= user.get('vehicle') %></li>
          <li class="list-group-item modal-noclose">Location: <%= user.get('location') %></li>
          <li class="list-group-item modal-noclose"><%= user.get('description') %></li>
          <li class="list-group-item modal-noclose"><button type="button" class="modal-noclose btn btn-default btn-large btn-std-color select-me"
                  >Choose This Tasker</button><br></li>
        </ul>
      </div>
    <% } %>
  </div>
</div>
