<% if form_type == :login %>
  <% header = "Log In" %>
  <% action = "/session" %>
<% else %>
  <% header = "Sign Up" %>
  <% action = "/users" %>
<% end %>
<section class=".container login-form">
  <div class="row">
  <div class="col-md-3 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title"><%= header %></h2>
      </div>
      <div class="panel-body">
        <%= render partial: 'layouts/errors' %>

        <form action="<%= action %>" method="post">
          <%= auth_token_input %>
          <label>Email<br>
            <input name="user[email]" type="text"<br>
          </label><br>
          <label>Password<br>
            <input name="user[password]" type="password"><br>
          </label><br>
          <input type="submit" value="Submit" class="btn btn-primary btn-std-color">
        </form>
        or <form action="/session" method="post">
          <%= auth_token_input %>
            <input type = "hidden" name="user[email]" value="guest@starwars.com">
            <input name="user[password]" type ="hidden" value="password">
            <input type="submit" value="Login as guest" class="btn btn-primary btn-std-color">
        </form>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="container front-page">
  <div class="front-page-gray title-mod">This is the Help You're Looking For</div>
  <div class="row">
    <div class="col col-md-3">
      <div class="text-center"><span class="glyphicon glyphicon-pencil glyphicon-front-page"></span></div>
      <h4 class="hiw front-page-headers text-center">Describe Your Task</h4>
      <div class="text-center front-page-lower front-page-gray">This helps us determine which Taskers are best for your job.</div>
    </div>
    <div class="col col-md-1"><span class="glyphicon glyphicon-arrow-right glyphicon-front-arrow"></span>
    </div>
    <div class="col col-md-3">
      <div class="text-center"><span class="glyphicon glyphicon-user glyphicon-front-page"></span></div>
      <h4 class="hiw front-page-headers text-center">Choose a Tasker</h4>
      <div class="text-center front-page-lower front-page-gray">All Taskers are fully-vetted & 100% guaranteed.</div>
    </div>
    <div class="col col-md-1"><span class="glyphicon glyphicon-arrow-right glyphicon-front-arrow"></span></div>
    <div class="col col-md-3">
      <div class="text-center"><span class="glyphicon glyphicon-sunglasses glyphicon-front-page"></span></div>
      <h4 class="hiw front-page-headers text-center">Kick Back & Relax</h4>
      <div class="text-center front-page-lower front-page-gray">If you are not satisfied, the Tasker will be removed.</div>
    </div>
</div>
</section>
