<!DOCTYPE html>
<html>
<head>
  <title>Taskforce</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<% signed_in_class = signed_in? ? "class =signed-in" : ""  %>
<body <%= signed_in_class %>>
<%= render partial: "layouts/header" %>
<%= yield %>

</body>
</html>
